<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit()" #userForm="ngForm">
        <div class="form-group">
          <label for="name">Name</label>
          <input type="text" [(ngModel)]="phone.number" class="form-control" id="number" name="number" placeholder="Enter number"
            required #name="ngModel">
        </div>
        <div [hidden]="!name.pristine" class="alert alert-danger">Number is required</div>
        <div class="form-group">
          <label for="email">Email</label>
          <input type="text" [(ngModel)]="phone.remark" class="form-control" id="remark" name="remark" placeholder="Enter remark"
            required #email="ngModel">
          <div [hidden]="!email.pristine" class="alert alert-danger">Remark is required</div>
        </div>
        <button type="submit" [disabled]="!userForm.form.valid" class="btn btn-info">Submit</button>
      </form>
    </div>
  </div>